<form class="form-horizontal" autocomplete="off" #editBookingForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'EditBooking' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="client">
            {{ "Client" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown [options]="clients" [(ngModel)]="booking.clientId" optionLabel="name" [filter]="true"
              filterBy="name" [showClear]="true" placeholder="Select a Client">
              <ng-template pTemplate="selectedItem">
                <div class="client-item client-item-value" *ngIf="booking.clientId">
                  <img src="assets/showcase/images/demo/flag/flag_placeholder.png"
                    [class]="'flag flag-' + booking.client.toLowerCase()" />
                  <div>{{selectedCountry.name}}</div>
                </div>
              </ng-template>
              <ng-template let-client pTemplate="item">
                <div class="client-item">
                  <img src="assets/showcase/images/demo/flag/flag_placeholder.png"
                    [class]="'flag flag-' + client.name.toLowerCase()" />
                  <div>{{client.name}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="startDate">
            {{ "Start Date" | localize }}
          </label>
          <div class="col-md-9">
            <div class="p-field p-col-12 p-md-4">
              <label for="time">Time</label>
              <p-calendar [(ngModel)]="booking.startDate" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="2020:" [showTime]="true" inputId="time"></p-calendar>
            </div>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="endDate">
            {{ "Other Name" | localize }}
          </label>
          <div class="col-md-9">
            <div class="p-field p-col-12 p-md-4">
              <label for="time">Time</label>
              <p-calendar [(ngModel)]="booking.endDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2020:"
                [showTime]="true" inputId="time"></p-calendar>
            </div>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="amountPaid">
            {{ "Amount" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="amountPaid" id="amountPaid" required minlength="2"
              maxlength="32" [(ngModel)]="booking.amountPaid" #amountPaidModel="ngModel" #amountPaidEl />
            <abp-validation-summary [control]="amountPaidModel" [controlEl]="amountPaidEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="paymentMode">
            {{ "Facility Group" | localize }}
          </label>
          <div class="col-md-9">
            <select class="form-control" name="paymentMode" id="paymentMode" [(ngModel)]="booking.paymentMode"
              #paymentModeModel="ngModel" #paymentModeEl required>
              <option>--select--</option>
              <option *ngFor="let key of paymentModeEnums" [value]="paymentModeEnums.indexOf(key)" [label]="key">
              </option>
            </select>
            <abp-validation-summary [control]="paymentModeModel" [controlEl]="paymentModeEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="amountPaid">
            {{ "Select Facility" | localize }}
          </label>
          <ng-container *ngFor="let faciity of facilities; let i = index">
            <div class="col-md-6">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [id]="'faciity_' + i"
                  [checked]="isFacilityChecked(faciity.name)" (change)="onFaciltyChange(faciity, $event)" />
                <label class="custom-control-label" [for]="'faciity_' + i">
                  {{ faciity.name }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="amountPaid">
            {{ "Select Additional Services" | localize }}
          </label>
          <ng-container *ngFor="let miscelleneous of miscelleneouss; let i = index">
            <div class="col-md-6">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [id]="'permission_' + i"
                  [checked]="isMiscelleneousChecked(miscelleneous.name)"
                  (change)="onMiscelleneousChange(miscelleneous, $event)" />
                <label class="custom-control-label" [for]="'miscelleneous_' + i">
                  {{ miscelleneous.name }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editBookingForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>