<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h1>{{ "Booking" | localize }}</h1>
      </div>
    </div>
  </div>
</section>
<section class="content px-2">
  <div class="container-fluid">
    <form class="form-horizontal" autocomplete="off" #createBookingForm="ngForm" (ngSubmit)="save()">
      <div class="p-grid">
        <div class="p-col-6">
          <p-card>
            <div class="p-fluid p-grid p-col-12 p-md-12">
              <div class="p-field p-col-12 p-md-12">
                <div class="p-inputgroup">
                  <span class="p-col-12 p-md-12">
                    <p-dropdown [options]="clients" [(ngModel)]="selectedClient" name="clientId" id="clientId"
                      optionLabel="fullName" [filter]="true" filterBy="fullName" [showClear]="true"
                      placeholder="Select a Client" class="" (onChange)="assignToClient(selectedClient)">
                      <ng-template pTemplate="selectedItem" class="">
                        <div class="client-item client-item-value" *ngIf="selectedClient">
                          <div>{{selectedClient.fullName}}</div>
                        </div>
                      </ng-template>
                      <ng-template let-client pTemplate="item" class="">
                        <div class="client-item">
                          <div>{{client.fullName}}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>

                    <!-- <p-dropdown [options]="countries" [(ngModel)]="selectedCountries" name="name" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
                      <ng-template pTemplate="selectedItem">
                          <div class="country-item country-item-value"  *ngIf="selectedCountry">
                              <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" />
                              <div>{{selectedCountry.name}}</div>
                          </div>
                      </ng-template>
                      <ng-template let-country pTemplate="item">
                          <div class="country-item">
                              <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
                              <div>{{country.name}}</div>
                          </div>
                      </ng-template>
                  </p-dropdown> -->
                  </span>
                </div>
              </div>
            </div>
            <!-- <div class="p-fluid p-grid p-formgrid">
              <div class="p-field p-col-12 p-md-6">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-clock"></i>
                  </span>
                  <span class="p-float-label">
                    <p-calendar [(ngModel)]="booking.checkedInDate" name="checkedInDate" [monthNavigator]="true"
                      [yearNavigator]="true" yearRange="2020:2050" id="checkedInDate" inputId="checkedInDate" 
                      ></p-calendar>
                    <label for="checkedInDate">Check In Date</label>
                  </span>
                </div>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-clock"></i>
                  </span>
                  <span class="p-float-label">
                    <p-calendar [(ngModel)]="booking.checkedOutDate" name="checkedOutDate" [monthNavigator]="true"
                      [yearNavigator]="true" yearRange="2020:2050" id="checkedOutDate" inputId="checkedOutDate"
                      ></p-calendar>
                    <label for="checkedOutDate">Check Out Date</label>
                  </span>
                </div>
              </div>
            </div> -->
            <div class="p-field p-col-8 p-offset-2">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-calendar"></i>
                </span>
                <span class="p-float-label">
                  <p-calendar [(ngModel)]="selectedDates" selectionMode="multiple" [readonlyInput]="true" 
                  inputId="selectedDates" name="selectedDates" dateFormat="d MM yy" 
                  (ngModelChange)="getDateListLength2(); getTotalFacilities(selectedFacilities)"></p-calendar>
                  <!-- <p-calendar [(ngModel)]="booking.endDate" name="endDate" [monthNavigator]="true"
                    [yearNavigator]="true" yearRange="2020:2050" id="endDate" inputId="startDate"
                    (onSelect)="calculateDiff(booking.startDate, booking.endDate)"></p-calendar> -->
                  <label for="selectedDates">Select Days</label>
                </span>
              </div>
          </div>

            <div class="p-fluid p-grid p-col-12 p-md-12">
              <p-multiSelect [options]="facilities" name="facility" optionLabel="name" class="multiselect-custom"
                [(ngModel)]="selectedFacilities" defaultLabel="Select a facility" [maxSelectedLabels]="2"
                [selectedItemsLabel]="'{0} items selected'" (onChange)="getTotalFacilities(selectedFacilities)" class="p-col-12 p-md-12"></p-multiSelect>
              <div class="form-group row mb-0 p-col-12 p-md-12">
                <div class="p-col-12 p-md-12 p-grid p-jc-between">
                  <label class="">Additional Services</label>
                  <label class="">Quantity</label>
                </div>
                <div *ngFor="let miscelleneous of miscelleneouss" class="p-field-checkbox p-col-12 p-md-12 p-grid p-jc-between">
                  <p-checkbox name="group2" value="miscelleneous" [value]="miscelleneous" [(ngModel)]="selectedMiscels"
                    [inputId]="miscelleneous.id" (onChange)="getTotalMiscellaneouss(selectedMiscels)"></p-checkbox>
                  <label [for]="miscelleneous.id">{{miscelleneous.name}}</label>
                  <span class="custom-control">
                    Unit Price: {{"Cedi" | localize}} {{ miscelleneous.price }}
                  </span>
                  <div class="custom-control col-md-4">
                    <span class="">
                      <p-inputNumber [(ngModel)]="miscelleneous.quantity" [showButtons]="true" [min]="1"
                        [name]="'miscelleneous_' + i" placeholder="Qty" decrementButtonClass="p-button-danger"
                        incrementButtonClass="p-button-success" (ngModelChange)="getTotalMiscellaneouss(selectedMiscels)"></p-inputNumber>
                    </span>
                  </div>
                </div>
                <div class="p-col-12 p-md-12">
                  <label class="">Payment Mode</label>
                </div>
                <div *ngFor="let key of paymentModeEnums" [label]="key" class="p-field-checkbox p-col">
                  <p-radioButton name="group3" value="key" [value]="key" [(ngModel)]="booking.paymentMode"
                  [inputId]="key"></p-radioButton>
                  <label style="white-space: nowrap;" [for]="key">{{key | localize}}</label>
              </div>
                <!-- <ng-container *ngFor="let miscelleneous of miscelleneouss; let i = index">
                                <div class="col-md-12">
                                  <div class="custom-control custom-checkbox p-grid p-jc-between"
                                    style="margin-bottom: 10px; align-items: center;">
                                    <input type="checkbox" class="custom-control-input" [id]="'miscelleneous_' + i"
                                      [checked]="isMiscellaneousChecked(miscelleneous.name)"
                                      (change)="onMiscellaneousChange(miscelleneous, $event)" />
                                    <label class="custom-control-label" [for]="'miscelleneous_' + i">
                                      {{ miscelleneous.name }}
                                    </label>
                                    <span class="custom-control">
                                      Unit Price: {{"Cedi" | localize}} {{ miscelleneous.price }}
                                    </span>
                                    <div class="custom-control col-md-4">
                                      <span class="">
                                        <p-inputNumber [(ngModel)]="miscelleneous.quantity" [showButtons]="true" [min]="0"
                                          [name]="'miscelleneous_' + i" placeholder="Qty" decrementButtonClass="p-button-danger"
                                          incrementButtonClass="p-button-success"></p-inputNumber>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                </ng-container> -->
              </div>
            </div>
            <br>
          </p-card>
        </div>
        <div class="">
          <p-divider layout="vertical">
            <b></b>
          </p-divider>
        </div>
        <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
          <div class="p-grid p-flex-column">
            <div class="p-col">
              <div class="box">
                <div id="page-wrap">

                  <textarea id="header" disabled>INVOICE</textarea>

                  <div class="p-fluid p-grid p-jc-between" id="identity">
                    <pre class="p-col-8 p-md-8" id="address">University of Ghana Learning Centre
P.O. Box 192
Takoradi
Phone: (123) 456-7890
                    </pre>

                    <div class="p-fluid" id="logo">
                      <img id="image" src="assets/img/OIP.jpg" alt="logo" />
                    </div>

                  </div>

                  <div style="clear:both"></div>

                  <div class="p-grid p-jc-between" id="customer">

                    <pre id="customer-title">{{ thisclient.fullName == ""? "Client Name...":thisclient.fullName }}
{{ thisclient.email }}
{{ thisclient.phone }}</pre>
                    <table id="meta">
                      <tr>
                        <td class="meta-head">Invoice #</td>
                        <td><textarea disabled>000123</textarea></td>
                      </tr>
                      <tr>
                        <td class="meta-head">Date</td>
                        <td><textarea id="date" disabled>{{thisDay | date : 'd MMMM yyyy'}}</textarea></td>
                      </tr>
                      <tr>
                        <td class="meta-head">Amount Due</td>
                        <td>
                          <div class="due">{{"Cedi" | localize}} {{facilityPlusMiscel}}</div>
                        </td>
                      </tr>

                    </table>

                  </div>

                  <table id="items">

                    <tr>
                      <th>#</th>
                      <th>Item</th>
                      <th style="white-space: nowrap;">Unit Cost</th>
                      <th>Quantity</th>
                      <th>Price</th>
                    </tr>

                    <tr class="item-row" *ngFor="let selectedFacility of selectedFacilities; let i = index">
                      <td>
                        {{i + 1}}
                      </td>
                      <td class="description">
                        {{selectedFacility.name}}
                      <td style="text-align: center;">{{selectedFacility.price}}</td>
                      <td style="text-align: center;">{{numberOfDays}}</td>
                      <td style="text-align: center;"><span class="price">{{numberOfDays * selectedFacility.price}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="5">Miscellaneous</td>
                    </tr>
                    <tr class="item-row" *ngFor="let selectedMiscel of selectedMiscels; let i = index">
                      <td>
                        {{i + 1}}
                      </td>
                      <td class="description">
                        {{selectedMiscel.name}}
                      <td style="text-align: center;">{{selectedMiscel.price}}</td>
                      <td style="text-align: center;">{{selectedMiscel.quantity}}</td>
                      <td style="text-align: center;"><span class="price">{{selectedMiscel.price * selectedMiscel.quantity}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="2" class="blank"> </td>
                      <td colspan="1"> Subtotal</td>
                      <td colspan="2">
                          <tr class="p-col p-fluid p-grid p-jc-between" style="min-width: max-content;">
                            <div>Facility </div><div id="subtotal">{{"Cedi" | localize}} {{facilityTotal}}</div>
                          </tr>
                          <tr class="p-col p-fluid p-grid p-jc-between" style="min-width: max-content;">
                            <div>Miscellaneous&nbsp;&nbsp; </div><div id="subtotal"> &nbsp;{{"Cedi" | localize}} {{misscellTotal}}</div>
                          </tr>
                      </td>
                    </tr>
                    <tr style="min-width: max-content;">
                      <td colspan="2" class="blank"> </td>
                      <td colspan="1" class="total-line balance" style="white-space: nowrap;">Grand Total</td>
                      <td colspan="2" class="total-value balance">
                        <tr class="p-col p-fluid p-grid p-jc-end"> 
                          <div class="due">{{"Cedi" | localize}} {{facilityPlusMiscel}}</div>
                        </tr>
                      </td>
                    </tr>

                  </table>

                  <!-- <div id="terms">
                    <h5>Terms</h5>
                    <textarea disabled>NET 30 Days. Finance Charge of 1.5% will be made on unpaid balances after 30 days.</textarea>
                  </div>
                 -->
                </div>
              </div>
            </div>
            <div class="p-col">
              <div class="box p-grid p-jc-between">
                <!-- <button pButton pRipple type="button" label="Primary" class="p-button-raised p-md-6"></button> -->
                <button pButton pRipple type="button" label="Print"
                  class="p-button-raised p-button-success"></button>
                  <button pButton pRipple type="submit" label="Submit"
                  class="p-button-raised p-button-success"></button>
                <!-- <abp-modal-footer class="" [cancelDisabled]="true"
                              [saveDisabled]="!createBookingForm.form.valid || saving" (onCancelClick)="cancel()"></abp-modal-footer> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>