<form class="form-horizontal" autocomplete="off" #createBookingForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'CreateNewBooking' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
        <div class="form-group row required">
          <div class="p-fluid p-grid">
            <span class="p-float-label p-col-12 p-md-12">
                <p-dropdown 
                [options]="clients" 
                [(ngModel)]="selectedClient" 
                name="clientId" 
                id="clientId"
                optionLabel="firstName"
                [filter]="true" 
                filterBy="firstName" 
                [showClear]="true">
                  <ng-template pTemplate="selectedItem">
                    <div class="client-item client-item-value" *ngIf="selectedClient">
                      <div>{{selectedClient.firstName}}</div>
                    </div>
                  </ng-template>
                  <ng-template let-client pTemplate="item">
                    <div class="client-item">
                      <div>{{client.firstName}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <label for="clientId">Client</label>
            </span>
          </div>
        </div>
        <!-- <div class="p-fluid p-grid">
          <span class="p-float-label">
            <label class="col-md-3 col-form-label" for="clientId">
              {{ "Client" | localize }}
            </label>
          
        </span>
        </div> -->
        <!-- <div class="form-group row required">
          <div class="p-fluid p-grid">
            <span class="p-float-label p-col-12 p-md-12">
                <p-calendar [(ngModel)]="booking.startDate" name="startDate" [monthNavigator]="true"
                  [yearNavigator]="true" yearRange="2020:2050" [showTime]="true" id="startDate" inputId="startDate">
                </p-calendar>
                <label for="startDate">Start Date</label>
            </span>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="endDate">
            {{ "Other Name" | localize }}
          </label>
          <div class="col-md-9">
            <div class="p-field p-col-12 p-md-4">
              <label for="time">Time</label>
              <p-calendar [(ngModel)]="booking.endDate" name="endDate" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="2020:2050" [showTime]="true" inputId="endDate"></p-calendar>
            </div>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="amountPaid">
            {{ "Amount" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="amountPaid" id="amountPaid" required minlength="2"
              maxlength="32" [(ngModel)]="booking.amountPaid" #amountPaidModel="ngModel" #amountPaidEl />
            <abp-validation-summary [control]="amountPaidModel" [controlEl]="amountPaidEl"></abp-validation-summary>
          </div>
        </div> -->
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="paymentMode">
            {{ "Facility Group" | localize }}
          </label>
          <div class="col-md-9">
            <select class="form-control" name="paymentMode" id="paymentMode" [(ngModel)]="booking.paymentMode"
              #paymentModeModel="ngModel" #paymentModeEl required>
              <option>--select--</option>
              <option *ngFor="let key of paymentModeEnums" [value]="paymentModeEnums.indexOf(key)" [label]="key">
              </option>
            </select>
            <abp-validation-summary [control]="paymentModeModel" [controlEl]="paymentModeEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="amountPaid">
            {{ "Select Facility" | localize }}
          </label>
          <ng-container *ngFor="let faciity of facilities; let i = index">
            <div class="col-md-6">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [id]="'faciity_' + i"
                  [checked]="isFacilityChecked(faciity.name)" (change)="onFaciltyChange(faciity, $event)" />
                <label class="custom-control-label" [for]="'faciity_' + i">
                  {{ faciity.name }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="amountPaid">
            {{ "Select Additional Services" | localize }}
          </label>
          <ng-container *ngFor="let miscelleneous of miscelleneouss; let i = index">
            <div class="col-md-6">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [id]="'permission_' + i"
                  [checked]="isMiscelleneousChecked(miscelleneous.name)"
                  (change)="onMiscelleneousChange(miscelleneous, $event)" />
                <label class="custom-control-label" [for]="'miscelleneous_' + i">
                  {{ miscelleneous.name }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createBookingForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>