<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Bookings" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <a [routerLink]="['book']"
            class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            {{ "Create" | localize }}
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">&emsp;</div>
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button"
                    class="btn bg-blue"
                    (click)="getDataPage(1)">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input type="text"
                  class="form-control"
                  name="keyword"
                  [placeholder]="'SearchWithThreeDot' | localize"
                  [(ngModel)]="keyword"
                  (keyup.enter)="getDataPage(1)" />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered"
              [busy]="isTableLoading">
              <thead class="bg-light">
                <tr>
                  <th style="white-space: nowrap;">Date Created</th>
                  <th>{{ "Client" | localize }}</th>
                  <th>{{ "Booked Dates" | localize }}</th>
                  <th>{{ "Amount" | localize }}</th>
                  <th style="width: 200px;">{{ "Actions" | localize }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                  let booking of bookings
                    | paginate
                      : {
                          id: 'server',
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
                        }
                ">
                  <td>{{ booking.creationTime | date : 'fullDate'}}</td>
                  <td style="white-space: nowrap;">{{ booking.clientName}}</td>
                  <td>
                    <span *ngFor="let date of booking.bookedDates; let i = index">
                      <i class="pi pi-calendar badge badge-info mx-1">{{ date | date : 'fullDate'}}</i>
                      <!-- {{ i+1 < booking.bookedDates.length? ".":"."}}&nbsp; -->
                    </span>
                  </td>
                  <td style="white-space: nowrap;">{{"Cedi" | localize}} {{ booking.totalAmount }}</td>
                  <td>
                    <div  class="p-d-flex">
                      <p-tag (click)="editBooking(booking)" styleClass="p-mr-2" icon="pi pi-check" severity="success" value="CheckIn"></p-tag>
                      <p-tag (click)="delete(booking)" styleClass="p-mr-2" icon="pi pi-times" severity="warning" value="CheckOut"></p-tag>
                      <p-tag (click)="setSelectedBooking(booking); op.toggle($event)" icon="pi pi-info-circle" severity="info" value="Info"></p-tag>
                    </div>
                   </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary"
                (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize: totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls id="server"
                  (pageChange)="getDataPage($event)">
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p-overlayPanel #op [showCloseIcon]="true" [baseZIndex]="99" [style]="{margin: '25px'}">
    <ng-template pTemplate>
      <div class="p-grid p-jc-center">
          <div class="p-grid p-flex-column">
            <div class="p-col">
              <div class="box">
                <div id="page-wrap">
    
                  <textarea id="header" disabled>DETAILS</textarea>
    
                  <div class="p-fluid p-grid p-jc-between" id="identity">
                    <pre class="p-col-8 p-md-8" id="address">University of Ghana Learning Centre
    P.O. Box 192
    Takoradi
    Phone: (123) 456-7890
                    </pre>
    
                    <div class="p-fluid" id="logo">
                      <img id="image" src="assets/img/OIP.jpg" alt="logo" />
                    </div>
    
                  </div>
    
                  <div style="clear:both"></div>
    
                  <div class="p-grid p-jc-between" id="customer">
    
                    <pre id="customer-title">{{ selectedBoking.clientName }}
    {{ selectedBoking.client.email }}
    {{ selectedBoking.client.phone }}</pre>
                    <table id="meta">
                      <tr>
                        <td class="meta-head">Invoice #</td>
                        <td><textarea disabled>SCDE/TDI/00{{selectedBoking.id}}</textarea></td>
                      </tr>
                      <tr>
                        <td class="meta-head">Date</td>
                        <td><textarea id="date" disabled>{{selectedBoking.creationTime | date : 'd MMMM yyyy'}}</textarea></td>
                      </tr>
                      <tr>
                        <td class="meta-head">Amount Due</td>
                        <td>
                          <div class="due">{{"Cedi" | localize}} {{selectedBoking.totalAmount}}</div>
                        </td>
                      </tr>
    
                    </table>
    
                  </div>
    
                  <table id="items">
    
                    <tr>
                      <th>#</th>
                      <th>Item</th>
                      <th style="white-space: nowrap;">Unit Cost {{"Cedi" | localize}}</th>
                      <th>Quantity</th>
                      <th>Price</th>
                    </tr>
    
                    <tr class="item-row" *ngFor="let selectedFacility of selectedBoking.facilities; let i = index">
                      <td>
                        {{i + 1}}
                      </td>
                      <td class="description">
                        {{selectedFacility.name}}
                      <td style="text-align: center;">{{selectedFacility.price}}</td>
                      <td style="text-align: center;">{{selectedFacility.numberOfDaysBooked}}</td>
                      <td style="text-align: center;"><span class="price">{{selectedFacility.numberOfDaysBooked * selectedFacility.price}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="5">Miscellaneous</td>
                    </tr>
                    <tr class="item-row" *ngFor="let selectedMiscel of selectedBoking.miscellaneous; let i = index">
                      <td>
                        {{i + 1}}
                      </td>
                      <td class="description">
                        {{selectedMiscel.name}}
                      <td style="text-align: center;">{{selectedMiscel.price}}</td>
                      <td style="text-align: center;">{{selectedMiscel.quantity}}</td>
                      <td style="text-align: center;"><span class="price">{{selectedMiscel.price * selectedMiscel.quantity}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="2" class="blank"> </td>
                      <td colspan="1"> Subtotal</td>
                      <td colspan="2">
                          <tr class="p-col p-fluid p-grid p-jc-between" style="min-width: max-content;">
                            <div>Facility </div><div id="subtotal">{{"Cedi" | localize}} {{getTotalFacilities(selectedBoking.facilities)}}</div>
                          </tr>
                          <tr class="p-col p-fluid p-grid p-jc-between" style="min-width: max-content;">
                            <div>Miscellaneous&nbsp;&nbsp; </div><div id="subtotal"> &nbsp;{{"Cedi" | localize}} {{getTotalMiscellaneouss(selectedBoking.miscellaneous)}}</div>
                          </tr>
                      </td>
                    </tr>
                    <tr style="min-width: max-content;">
                      <td colspan="2" class="blank"> </td>
                      <td colspan="1" class="total-line balance" style="white-space: nowrap;">Grand Total</td>
                      <td colspan="2" class="total-value balance">
                        <tr class="p-col p-fluid p-grid p-jc-end"> 
                          <div class="due">{{"Cedi" | localize}} {{selectedBoking.totalAmount}}</div>
                        </tr>
                      </td>
                    </tr>
    
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </ng-template>
</p-overlayPanel>
</div>