<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "Dashboard" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <!-- <div class="row">
        <div class="col-12">
          <div class="alert alert-info alert-dismissible">
            <h6><i class="icon fa fa-info"></i> This is a sample Dashboard which doesn't show any server side data.
              However, you can develop your own dashboard inspired by this one and its source code.</h6>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{"Cedi" | localize}} {{allTimeTotal}}</h3>
              <p>Total Earnings</p>
            </div>
            <div class="icon">
              <i class="fas fa-money-check-alt"></i>
            </div>
            <a href="#"
              class="small-box-footer">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{"Cedi" | localize}} {{currentYearTotal}}</h3>
              <p>Earnings for the year <strong>{{thisDay | date: 'YYYY'}}</strong> </p>
            </div>
            <div class="icon">
              <i class="fas fa-money-check-alt"></i>
            </div>
            <a href="#"
              class="small-box-footer">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{"Cedi" | localize}} {{currentMonthTotal}}</h3>
              <p>Earnings for the month of <strong>{{thisDay | date: 'MMMM'}}</strong> </p>
            </div>
            <div class="icon">
              <i class="fas fa-money-check-alt"></i>
            </div>
            <a href="#"
              class="small-box-footer">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
        <div class="col-lg-3 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{"Cedi" | localize}} {{weekTotal}}</h3>
              <p>Earnings for the week </p>
            </div>
            <div class="icon">
              <i class="fas fa-money-check-alt"></i>
            </div>
            <a href="#"
              class="small-box-footer">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Facility distribution by Category</h3>
            </div>
            <div class="card-body">
              <p-chart type="pie" [data]="data2"></p-chart>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Open Bookings</h3>
            </div>
            <div class="card-body">
              <p-chart type="polarArea" [data]="data2"></p-chart>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <!-- <div class="col-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Open Bookings</h3>
            </div>
            <div class="card-body">
              <p-chart type="polarArea" [data]="data2"></p-chart>
            </div>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Open Bookings</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th>#</th>
                    <th class="w-25">Date Created</th>
                    <th class="w-25">Name</th>
                    <th>Amount</th>
                    <th>Check In Date</th>
                    <th>Check Out Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let booking of bookings | slice :0:5; let i=index;">
                    <td>
                      <a href="">
                        {{i+1}}
                      </a>
                    </td>
                    <td>{{booking.creationTime | date:'fullDate'}}</td>
                    <td>{{booking.clientName}}</td>
                    <td>
                      <span class="badge badge-primary mx-1">
                        {{"Cedi" | localize}} {{booking.totalAmount}}
                      </span>
                    </td>
                    <td>{{booking.checkedInDate | date:'fullDate'}}</td>
                    <td>{{booking.checkedOutDate | date:'fullDate'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Monthly Bookings Overview</h3>
            </div>
            <div class="card-bodyp-0">
              <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>